@import url('https://fonts.googleapis.com');

body{
  font-family: 'Roboto',sans-serif;
  margin: 0;
  padding: 0;
  background: #f1d39c;
}
*{
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
}
.header{
  height: 90px;
  width: 100%;
  border-bottom: 3px solid #2f3640;
}
/* 사이드바 */
.sidebar{
  position: fixed;
  left: -500px;
  width: 500px;
  position: fixed;
  height: 100%;
  background: #f1d39c;
  transition: all .5s ease;
}
.sidebar header{
  font-size: 22px;
  color: white;
  text-align: center;
  line-height: 70px;
  background: #f0b71c;
  user-select: none;
}
.sidebar ul div{
  height: 100%;
  width: 100%;
  line-height: 65px;
  font-size: 18px;
  color: black;
  padding-left: 20px;
  box-sizing: border-box;
  border-top: 5px solid #f0b71c;
  transition: .4s;
}
ul li:hover a{
  padding-left: 50px;
}

.cancel{
  position: absolute;
  top: 15px;
  left: 440px;
}
.cancel_btn{
  color: #f0b71c;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
/* 검색창 */
.search-box{
  position: absolute;
  top: 48px;
  left: 40%;
  transform: translate(-50%,-50%);
  background: #2f3640;
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.search-box:hover > .search-txt{
  width: 240px;
  padding: 0 6px;
}
.search-box:hover > .search-btn{
background: white;

}
.search-btn{
  color: #f0b71c;
  float: right;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}
.search-txt{
  border:none;
  background: none;
  outline: none;
  float: left;
  padding: 0;
  color: white;
  font-size: 16px;
  transition: 0.4s;
  line-height: 40px;
  width: 0px;
}
/* 로그아웃 버튼 */
.logout{
  position: absolute;
  top: 38px;
  left: 90%;
  transform: translate(-50%,-50%);
  height: 40px;
  border-radius: 40px;
  padding: 10px;
}
.logout-btn{
  color: #f0b71c;
  float: right;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background: #2f3640;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: 0.4s;
}

.line{
  display: flex;
  align-items:center;
  color:rgba(0,0,0,0.35);
  margin: 8px 0px;
}