<div class="input-group mb-3">
  <input
    id="comment_text"
    type="text"
    class="form-control"
    placeholder="댓글을 입력해주세요"
  />
  별점
  <select name="star" id="stars">
    <option value="1" name="1">1</option>
    <option value="2" name="2">2</option>
    <option value="5" name="3">3</option>
    <option value="3" name="4">4</option>
    <option value="4" name="5">5</option>
  </select>
  <input type="submit" name="submit" id="submit_star_comment" />
</div>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<script>
  var selectOption = document.getElementById("stars");
  selectOptionValue = selectOption.options[selectOption.selectedIndex].value;
  console.log(selectOptionValue);
  var selectInput = document.getElementById("comment_text");
  selectInputValue = selectInput.innerText;
  console.log(selectInputValue);

  document
    .querySelector("#submit_star_comment")
    .addEventListener("click", function () {
      if (selectOption == null && selectInputValue == null) {
        return;
      }
      formData = new FormData();
      formData.append("inputValue", selectInputValue);
      formData.append("starValue", selectOptionValue);

      const ajax = axios({
        url: "/main/request/comment",
        method: "post",
        data: formData,
        headers: {
          "X-CSRFToken": csrftoken,
        },
      });
      ajax.then(function (result) {
        console.log(result.msg);
      });
    });
</script>
