{% load static %}
<link rel="stylesheet" type="text/css" href="{% static 'login.css' %}">

<head>
  <title>로그인</title>
</head>

<div class="container-fluid ps-md-0">
  <form method="post" class="post-form" action="{% url 'miniproject:login' %}">
    {% csrf_token %}
    {% include "form_errors.html" %}
    <div class="row g-0">
      <div class="d-none d-md-flex col-md-4 col-lg-6 bg-image"></div>
      <div class="col-md-8 col-lg-6">
        <div class="login d-flex align-items-center py-5">
          <div class="container">
            <div class="row">
              <div class="col-md-9 col-lg-8 mx-auto">
                <h3 class="login-heading mb-4">Welcome back!</h3>
  
                <!-- Sign In Form -->
                <form>
                  <div class="form-floating mb-3">
                    <input type="id" class="form-control" id="user_id" placeholder="Id">
                    <label for="floatingInput">Id</label>
                  </div>
                  <div class="form-floating mb-3">
                    <input type="password" class="form-control" id="floatingPassword" placeholder="Password">
                    <label for="floatingPassword">Password</label>
                  </div>
  
                  <div class="form-check mb-3">
                    <input class="form-check-input" type="checkbox" value="" id="rememberPasswordCheck">
                    <label class="form-check-label" for="rememberPasswordCheck">
                      Remember password
                    </label>
                  </div>
  
                  <div class="d-grid">
                    <button class="btn btn-lg btn-primary btn-login text-uppercase fw-bold mb-2" type="submit">Sign in</button>
                    <div class="text-center">
                      <a class="small" href="#">Forgot password?</a>
                    </div>
                  </div>
  
                </form>


                {% if user.is_authenticated %}
                <p>
                  <a class='nav-link' href="{% url 'member:logout' %}">
                    {{ user.username }} 님 반갑습니다. (로그아웃)
                  </a>
                </p>
                {% else %}
                <p>현재 상태 : Guest</p>
                {% endif %}

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>