{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>로그인실패</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <link rel="stylesheet" href="{% static 'css/loginfail.css' %}" />
  </head>
  <body>
    
    <!-- partial:index.partial.html -->
    <p class="tip">로그인실패</p>
    <div class="cont">
<from method="post" action="{% url 'member:loginfail' %}"> 
      <div class="form sign-in">
          <br><br><br>
          
          <h2>로그인에 실패했습니다.</h2>
          <br><br>
          <h3>불편을 드려 죄송합니다</h3><br>
          <h3>다시 로그인 해주시기 바랍니다.</h3>

          <button type="button" class="submit" onclick="location.href='/member/login'">메인으로</button>
        </div>
      </from>
      <div class="sub-cont">
        <div class="img">
        </div>
      </div>
    </div>
  </body>
</html>
