{% load static %}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <title>회원가입</title>
    <link
      rel="stylesheet"
      href="https://fonts.googleapis.com/css?family=Open+Sans"
    />
    <link rel="stylesheet" href="{% static 'css/signup.css' %}" />
  </head>
  <body>
    <!-- partial:index.partial.html -->
    <p class="tip">로그인 또는 회원가입을 해주세요.</p>
    <div class="cont">
      <form method="post">
        {% csrf_token %}
        <div class="form sign-in">
          <h2>환영합니다!</h2>
          <label>
            <span>이름</span>
            <input type="text" name="user_name" />
          </label>
          <label>
            <span>이메일</span>
            <input type="text" name="id" />
          </label>
          <label>
            <span>비밀번호</span>
            <input type="password" name="password" />
          </label>
          <button type="submit" class="submit">회원가입</button>
        </div>
      </form>
      <div class="sub-cont">
        <div class="img"></div>
      </div>
    </div>
  </body>
</html>
